:root {
  --primary: #11355e;
  --bg: #ececec;
  --text-on-primary: #fff;
  --muted: #1d546c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(12, 43, 78, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo {
  width: 4.5rem;
  height: auto;
  display: block;
}

.navbar .navbar-nav a {
  color: var(--text-on-primary);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #b9b1b1;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #000;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--text-on-primary);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #b9b1b1;
}

#menu {
    display: none;
}


/* HERO SECTION */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('image/tumpak\ sewu\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%,rgba(255, 255, 255, 0) 25%);
}



/* MEDIA QUERIES */

/* LAPTOP */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* TABLET */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

    .navbar .navbar-nav.active{
      right: 0;
    }

    .navbar .navbar-nav a {
      color: var(--text-on-primary);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
    }

    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
}

    .navbar .navbar-nav a:hover::after{
      transform: scaleX(0.2);
      -webkit-transform: scaleX(0.2);
      -moz-transform: scaleX(0.2);
      -ms-transform: scaleX(0.2);
      -o-transform: scaleX(0.2);
}
}

/* MOBILE */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}